This is the dasboard page.  It should be personal to each person.

<% if @auth %>
  <div>Welcome <%= @auth[:username] %></div>

  <div>Photo: <%= image_tag @auth[:photo_id] %>
  <div>Email: <%= @auth[:email] %></div>
  <div>Age <%= @auth[:age] %></div>
  <div>Gender <%= @auth[:gender] %></div>
  <div>City <%= @auth[:city] %></div>
  <div>State: <%= @auth[:state] %></div>
  <div>Description: <%= @auth[:description] %></div>

  <div>Messages:</div>
  <% if @auth.received.any? %>
    <%= @auth.received %>
  <% else %>
    <div>You have no new messages<div>
  <% end %>

  <div><%= link_to 'Search for new dates', search_path %></div>

<% else %>

  <div>Not logged in</div>

<% end %>