<%= form_for @message do |f| %>

  <div class="field">
    <div>
      <%= f.label :sender %>
      <%= f.text_field :sender, :value => @auth[:id] %>
    </div>

    <div>
      <%= f.label :recipient %>
      <%= f.text_field :recipient %>
    </div>

    <div>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

  <%= f.submit %>   
  </div><!-- .field -->
<% end %>

<div>Auth_id = <%= @auth[:id] %></div>
 <% User.all.each do |user| %>
    <div><%= user.username %>, ID: <%= user[:id] %> </div>
    
  <% end %>