<%= form_for @message do |f| %>

  <div class="field">
    <div>
      <%#= f.label :sender %>
      <%= f.hidden_field :sender, :value => @auth[:id], :readonly => true %>
    </div>

    <div>
      <%#= f.label :recipient %>
      <%= f.hidden_field :recipient, :value => @recipient, :readonly => true %>
    </div>

    <div>
      New message to: <%= User.find_by_id(@recipient).username %>
    </div>

    <div>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

  <%= f.submit %>   
  </div><!-- .field -->
<% end %>