<h1>Search Page</h1>

<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<% @users.each do |user| %>
  <%= link_to user do %>
    <div class="user_pill">
      <% if user.photos.where(:is_primary => true).any? %>
        <div><%= image_tag user.photos.where(:is_primary => true).first.image.thumb.url %></div>
      <% else %> 
        <div>No avatar</div>
      <% end %>
      <div><%= user.username %></div>
    </div>
  <% end %>
<% end %>