<% content_for :name, "home" %>

<h1 class="welcome twelve columns">Welcome to <span id="home-title">Datester</span></h1>

<div class="row" id="home-container">
  <div class="six columns">
    <div class="panel">
      <h2>
        Login
      </h2>
      <%= form_tag '/session' do %>
        <%= label_tag 'Username' %>
        <%= text_field_tag 'username' %>
        <%= label_tag 'Password' %>
        <%= password_field_tag 'password' %>
        <%= submit_tag 'Login!' %>
      <% end %>
    </div>
  </div>
  <div class="six columns">
    <div class="panel callout radius">
      <h2>
        <%= link_to "Register", new_user_path %>
      </h2>
    </div>
  </div>
</div>













