<h1><%= @user.username %></h1>
<div class="one three columns">
<% if @user.photos.where(:is_primary => true).any? %>
  <div class="th"><%= image_tag @user.photos.where(:is_primary => true).first.image.standard.url %></div>
<% else %>
  <div>No avatar set yet.</div>
<% end %>
</div>
<div class="two four columns">
    <div class='info'><span class='label'>Email</span>  <%= @user[:email] %></div>
    <div class='info'><span class='label'>Age</span>  <%= @user[:age] %></div>
    <div class='info'><span class='label'>Gender</span>  <%= @user[:gender] %></div>
    <div class='info'><span class='label'>City</span>  <%= @user[:city] %></div>
    <div class='info'><span class='label'>State</span>  <%= @user[:state] %></div>
    <div class='info'><span class='label'>Description</span>  <%= @user[:description] %></div>
</div>

<div class="three five columns">
<%= form_tag '/matches/quiz' do %>
  <%= hidden_field_tag 'id', @user.id %>
  <%= submit_tag "Get in touch with #{@user.username}", :class => "round button" %>
<% end %>
</div>

<div class="row">
  <div class="twelve columns group">
    <% if @user.photos.any? %>
      <h2><%= "#{@user.username}'s photos" %></h2>
      <% @user.photos.each do |photo| %>
        <div class="th user_pill">
          <%= image_tag photo.image.standard.url %>
          <p class="caption"><%= photo.caption %></p>
        </div> 
       <% end %> 
    <% else %>
    <% end %>   
  </div>
</div>