<h1><%= @user.username %></h1>

<% if @user.photos.where(:is_primary => true).any? %>
  <div class="th"><%= image_tag @user.photos.where(:is_primary => true).first.image.standard.url %></div>
<% else %>
  <div>No primary photo set.</div>
<% end %>
<div>Email: <%= @user[:email] %></div>
<div>Age <%= @user[:age] %></div>
<div>Gender <%= @user[:gender] %></div>
<div>City <%= @user[:city] %></div>
<div>State: <%= @user[:state] %></div>
<div>Description: <%= @user[:description] %></div>

<%= form_tag '/matches/quiz' do %>
  <%= hidden_field_tag 'id', @user.id %>
  <%= submit_tag "Get in touch with #{@user.username}", :class => "round button" %>
<% end %>