<%# binding.pry %>

<% m = Match.where(:sender_id=>@auth[:id], :receiver_id=>@user[:id]) %>
 
<% if m[0] != nil && m[0].matched == false%>

<%# if Match.where(:sender_id=>@auth[:id], :receiver_id=>@user[:id]) == nil || Match.where(:sender_id=>@auth[:id], :receiver_id=>@user[:id]) != false %>
  <div><h1>Wrong answer.</h1>
  <div><h1>It wasn't meant to be.</h1></div>
  <div><%= link_to "Search for more dates", search_path %>

<% else %>
  <h2><%= "You're trying to connect with #{@user.username}" %></h2>

  <h1><%= @question.question_text %></h1>

  <%= form_tag matches_grade_path do %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= hidden_field_tag 'answers', @answers %>
    <%= hidden_field_tag 'sender_id', @sender_id = @auth[:id] %>
    <%= hidden_field_tag 'receiver_id', @receiver_id = Question.find(@question.id).user_id %>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <%= radio_button_tag 'select', answer.answer_text, false %> 
          <%= answer.answer_text %>
        </li>
      <% end %>
    </ul>

    <%= submit_tag "Submit" %>
  <% end %>

  
<% end %>