<h1><%= @auth.username %>'s photos</h1>
<ul class="list">
  <% @photos.each do |photo| %>
    <div class="photo th">
      <div class="image">
        <%= image_tag photo.image.large.url %>
      </div>
      <div class="caption">
        <p><%= photo.caption %></p>
      </div>
      <%= form_tag '/primary' do %>
        <%= hidden_field_tag 'id', photo.id %>
        <%= submit_tag "Make primary" if !photo.is_primary %>
      <% end %>
      
    </div>
  <% end %>
</ul>